<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Треки из плейлиста</title>
</head>

<body>
    <section layout:fragment="content">
        <tr th:each="track : ${tracks}">
            <td th:text="${track.title}"></td>
            <td th:text="${track.artist}"></td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        Добавить в плейлист
                    </button>
                    <ul class="dropdown-menu">
                        <li th:each="playlist : ${playlists}">
                            <a href="#" class="dropdown-item"
                               th:data-track-id="${track.id}"
                               th:data-playlist-id="${playlist.id}"
                               onclick="addToPlaylist(this)">
                                <span th:text="${playlist.name}"></span>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"/></li>
                        <li>
                            <a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#createPlaylistModal">
                                + Создать плейлист
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <div class="modal fade" id="createPlaylistModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form onsubmit="createPlaylist(event)">
                        <div class="modal-header">
                            <h5 class="modal-title">Новый плейлист</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <input type="text" id="newPlaylistName" class="form-control" placeholder="Название" required />
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Создать</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
