<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Профиль пользователя</title>
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>

<header class="profile-header">
    <div class="profile-info">
        <img class="avatar" src="https://i.pinimg.com/736x/8b/5c/5f/8b5c5fc90e812b6a6dfcad8e881bd81f.jpg" alt="Avatar" />
        <div>
            <h1 th:text="${user.username}">Имя пользователя</h1>
            <p th:text="${user.email}">Email</p>
        </div>
    </div>
</header>


    <section class="profile-section">
        <h2>Настройки</h2>
        <button class="btn">Изменить профиль</button>
        <button class="btn logout">Выйти</button>
    </section>
</main>

</body>
</html>
